.vs/
.vscode/
*.user
*.suo


bin/
obj/
out/


*.nupkg
*.snupkg
*.nuspec
packages/
*.psmdcp


Migrations/


*.log
*.tlog
*.cache
*.pdb


.DS_Store
Thumbs.db
desktop.ini


.idea/

TestResults/
*.coverage
*.coveragexml

appsettings.*.json


*.tmp
*.bak


Documentos/
